body{
    background-color: #F9DBBA;
    font-family: "Young Serif", serif;
}

.container{
    width: 60vw;
    height: auto;
    margin: 5% 20%;
    background-color: aliceblue;
    border-radius: 10px;
}
.mr-al{
    width: 55vw;
    margin: 4.5%;
}
.h1{
    margin-top: 0;
}

.para-1{
    font-size: 16px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #747972;
}

.p-time{
    background-color: #F9DBBA;
    height: 12vh;
}

.pre-time{
    width: 50vw;
    position: relative;
    top: 5%;
    left: 5%;
    color: #570e0e;
    border-radius: 6%;
}

.time-pre-item{
    font-size: 12px;
}
span{
    font-weight: bold;
}

h2{
    color: #570e0e;
}

.ing{
    font-size: 12px;
}

.data{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #570e0e;
}
